@font-face {
    font-family: inter;
    src: url(Fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: sintony;
    src: url("Fonts/Sintony-Bold.ttf");
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 51%, rgba(210,22,22,1) 100%);
}

